@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
  margin-bottom:60px;
  background-color:#F0F8FF;;
}


.back-button{
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 5;
  padding: 10px 20px;
  background-color: F0F8FF; /* Example blue background */
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Initial shadow for 3D effect */
  border-radius: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}
.btn-primary{
 position: relative;
 top: 10px;
}

.fa-arrow-left{
  color: #007bff;
  font-weight: bolder;
  font-size: 20px;
}

.entity {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px; /* Rounded borders */
    background-color: #f9f9f9; /* Light background for the div */
    position: relative;
    top: 150px;
    margin-right: 15px;
}

.entity-img {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Circular image */
    margin-right: 10px;
}

.entity-text {
    flex-grow: 1;
}

.entity:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Subtle shadow on hover */
}

h2 {
    margin: 20px;
    text-align:center;
    position: relative;
    top: 120px;
}

#chat-box {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    transform: translateY(100%); /* Start off-screen */
    transition: transform 0.5s ease;
    z-index: 100;
}

#chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#chat-back-button {
    border: none;
    background: none;
    color: #007bff; /* Bootstrap primary blue */
    cursor: pointer;
    margin-right: 10px; /* Space between button and title */
}

#chat-back-button:hover {
    color: #0056b3; /* Darker blue on hover */
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

#input-area {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 60px;
    background-color: #f1f1f1; /* Light grey background */
}

#chat-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Rounded corners */
}

#send-button {
    padding: 10px 15px;
    background-color: #007bff; /* Bootstrap primary blue */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    margin-bottom: 60px;
}

#send-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

@media (max-width: 600px) {
    #input-area {
        flex-direction: row; /* Ensure side by side layout */
    }

    #chat-input, #send-button {
        flex: 1 0 auto; /* Adjust flex settings for mobile */
    }


}

.fa-phone{
  color: #007bff;
  margin-left: 160px;
}

.fa-phone, .fa-paper-plane {
    cursor: pointer;
}

.fa-map-marker-alt{
  margin-right: 15px;
  color: #007bff;
}


.checkbox {
  display: none;
}



.lang {
  color: #dbd3d3;
  font-size: 12px;
  z-index: 2;
  padding: 5px;;
}


.language-switcher {
  position: fixed; /* Fixed positioning to keep it in view */
  top: 50px; /* Distance from the top of the viewport */
  right: 3dvb; /* Distance from the right of the viewport */
  z-index: 40; /* Ensures it stays on top of other content */
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #4452eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 50px;
  position: relative;
  height: 30px;
  width: 80px;
  cursor: pointer;
}

.label .fas {
  color: white;
  z-index: 2;
}

.ball {
  position: absolute;
  top: 4px;
  left: 10px;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s linear;
  z-index: 3;
}

.checkbox:checked + .label .ball {
  transform: translateX(38px);
}


